# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Variables de entorno (contiene tu contraseña de BD)
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/